
:root{

    --margin: 300px;

}

body{
    margin: 0px;

    background-color: #f5c4c8;
    user-select: none;


}

/*
    Etch a sketch has a ratio of 1.45 (width / height)
*/

.page{

    width: 100%;
    height: 100vh;

    margin: auto;
    max-width: 2000px;

    padding: 10px;

    box-sizing: border-box;


    display: flex;


    background-clip: content-box;
}




.content{

    flex: 4;

    box-sizing: border-box;
 
    padding: 0 10px;

    align-self: center;

}

.info{

    flex: 3;
}


.outer-shell{


    /*Size*/
    aspect-ratio: 1.25;

    width: auto;
    height: auto;

    max-width: 100%;
    max-height: 100%;

    min-width: 10px;
    min-height: 10px;

    /*Color*/
    background-color: #cd2533;
    border-radius: 8px;

    /*Position*/
    margin: auto;


    box-sizing: border-box;



    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}


.screen{

    background-color: white;

    width: calc(100% - var(--margin));
    height: calc(100% - var(--margin));

    margin: auto;

    border-radius: calc(var(--margin) * 0.15); /*20px*/
    overflow: hidden;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 10px 20px rgba(0, 0, 0, 0.623);

}

/*
    Screen margin is 75px
    Wheel size is 60px
*/

.wheel-container{

    display: flex;
    justify-content: space-between;


    position: relative;

    margin: 0px calc(var(--margin) * 0.1); /*15px*/
    top: calc(-0.5 * var(--margin)); /*-75px*/
}


.wheel{

    height: calc(var(--margin) * 0.4) ; /*60px*/
    width: calc(var(--margin) * 0.4); /*60px*/
    border-radius: 100%;

    background-color: white;
    border: black;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
}

.wheel-content{

    width: calc(var(--margin) * 0.1); /*15px*/
    height: calc(var(--margin) * 0.02); /*4px*/

    background-color: black;

    margin: calc(var(--margin) * 0.2 - var(--margin) * 0.01) calc(var(--margin) * 0.26); /*28px 40 -> 30 - 2 px   40px*/

    transform-origin: calc(var(--margin) * -0.06) center;

}

.wheel:hover .wheel-content{

    transition: background-color 1s;

    background-color: aqua;
}

.wheel-content .selected{

    background-color: grey;
}


.cell{

    width: 100%;
    height: 100%;

}