
:root{

    --margin: 300px;

}

body{
    margin: 0px;

    background-color: #f5c4c8;
    user-select: none;


}

/*
    Etch a sketch has a ratio of 1.45 (width / height)
*/

.page{

    width: 100%;
    height: 100vh;

    margin: auto;
    max-width: 2000px;

    padding: 10px;

    box-sizing: border-box;


    display: flex;


    background-clip: content-box;
}




.content{
    
    position: relative;

    height: 100%;

    flex: 4;
    align-self: center;
    

    box-sizing: border-box;
    padding: 0px 10px;

}


.shake-container{
    position: relative;

    height: 100%;
}

.info{

    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;


    box-sizing:border-box;
}


.outer-shell{

    position: relative;

    /*Size*/
    aspect-ratio: 1.25;

    width: auto;
    height: auto;

    max-width: 100%;
    max-height: 100%;

    min-width: 10px;
    min-height: 10px;

    /*Color*/
    background-color: #cd2533;
    border-radius: 8px;

    /*Position*/
    margin: auto;


    box-sizing: border-box;



    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}


.screen{

    position: relative;
    background-color: white;

    width: calc(100% - var(--margin));
    height: calc(100% - var(--margin));

    margin: auto;

    border-radius: calc(var(--margin) * 0.15); /*20px*/
    overflow: hidden;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 10px 20px rgba(0, 0, 0, 0.623);


}

.container{

    width: 100%;
    height: 100%;

    
    display: flex;
    gap: 1px;

    background-color: rgb(214, 214, 214);
}



.inner-shadow{

    position: absolute;

    border-radius: calc(var(--margin) * 0.135); /*20px*/
    
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
    inset 0 10px 20px rgba(0, 0, 0, 0.623);


    width: 100%;
    height: 100%;

    top: 0px;
}


.column{


    flex: 1;
    display: flex;
    gap: 1px;
    flex-direction: column;
}


.cell{

    background-color: white;

    width: 100%;


    flex: 1;
}


.cell.selected{
    
    background-color: rgb(145, 143, 143);
}

.cell.selected.hovered{

    background-color:  rgb(66, 66, 66);

}


/*
    Screen margin is 75px
    Wheel size is 60px
*/

.wheel-container{
    position: absolute;
    bottom: calc(var(--margin) * 0.1);
    left: 0;
    right: 0;

    margin: 0 calc(var(--margin) * 0.1);
    display: flex;
    justify-content: space-between;
}


.wheel{

    height: calc(var(--margin) * 0.4) ; /*60px*/
    width: calc(var(--margin) * 0.4); /*60px*/
    border-radius: 100%;

    background-color: white;
    border: black;

    transition: background-color .5s;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 2px;
}

.wheel-content{

    width: calc(var(--margin) * 0.1); /*15px*/
    height: calc(var(--margin) * 0.02); /*4px*/

    background-color: black;

    margin: calc(var(--margin) * 0.2 - var(--margin) * 0.01) calc(var(--margin) * 0.26); /*28px 40 -> 30 - 2 px   40px*/

    transform-origin: calc(var(--margin) * -0.06) center;

}

.wheel:hover{

    background-color: rgb(189, 188, 188);
    transition: .5s;
}

.wheel.selected{

    background-color: rgb(138, 138, 138);
}

/*Shake animation to clear*/

.shake-container.shake{

    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }